.card {
  background: var(--light-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    background: inherit;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    color: var(--coal);
    font-weight: bold;
    padding: 20px 20px 15px;
  }

  &__header &__title {
    align-items: center;
    display: flex;
    font-size: var(--card-big-text);
    height: 2.5em;
  }

  &__header &__title > span {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  @supports (-ms-ime-align: auto) {
    &__header &__title > span {
      white-space: nowrap;
    }
  }

  &__header &__subtitle {
    display: flex;
    font-size: var(--card-small-text);
    font-weight: normal;
    height: 100%;
    justify-content: space-between;
    margin-top: 17px;

    @media (max-width: 910px) {
      display: flex !important;
      flex-direction: row !important;
    }
  }

  &__body {
    background: inherit;
    border-radius: 20px;
    color: var(--coal);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 15px 20px 20px;
  }

  &__body &__description {
    font-size: var(--card-medium-text);
  }

  &__body &__image {
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
    @media (max-width: 910px) {
      margin-top: 16px;
    }
  }

  &:not(&--critical) &__body {
    padding-top: 0px !important;
  }

  &--s {
    grid-column: span 2;
  }

  &--m {
    grid-column: span 3;
  }

  &--l {
    grid-column: span 4;
    grid-row: span 3;
  }

  &--l &__body &__description {
    font-size: var(--card-medium-text-cr);
  }

  &--s &__header {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 0;

    @supports (-ms-ime-align:auto) {
      display:flex;
      flex-direction: column;
    }

    @media (max-width: 910px) {
      display: block;
    }
  }

  &--small {
    min-height: 170px;

    @media (max-width: 910px) {
      min-height: auto;
    }
  }

  &--small &__header {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
  }

  &--s &__header &__subtitle,
  &--small &__header &__subtitle {
    display: contents;
    flex-direction: column;
    margin-top: 20px;
  }

  &--critical &__header {
    background: var(--red);
    color: var(--white);
    padding-bottom: 40px;
  }

  &--critical &__body {
    padding: 20px;
    margin-top: -20px;
  }

  &__control {
    display: none;
    padding: 0;
  }

  &__control,
  &__control:hover {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  &__control:first-of-type {
    background-image: url("./../assets/cross.svg");
    right: 20px;
    top: 20px;
    height: 15px;
    width: 15px;
  }

  &__control:last-of-type {
    background-image: url("./../assets/next.svg");
    bottom: 20px;
    right: 20px;
    height: 17px;
    width: 11px;
  }

  &--critical &__control:first-of-type {
    background-image: url("./../assets/cross-white.svg");
  }

  .page:not(.no-hover) &:hover {
    background: var(--dark-grey);
    box-shadow: var(--box-shadow);
  }

  .page:not(.no-hover) &:hover &__control {
    display: block;
  }
}
