.image-m__container {
  border-radius: 20px;
  height: 300px;
  margin-top: 30px;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  touch-action: none;
}

.image-m {
  border-radius: 0 !important;
  height: 100%;
  left: 0;
  margin-top: 0 !important;
  position: absolute;
  bottom: 0;
  width: auto !important;
  user-select: none;
}

.image-m__track {
  background: rgba(black, 0.5);
  border-radius: 2px;
  bottom: 6px;
  height: 4px;
  left: 0;
  position: absolute;
  transform: scaleX(0.8);
  width: 147px;
}
