.indicator__group {
  display: flex;
  font-size: var(--card-tiny-text);
  margin-top: 22px;
  @media (max-width: 910px) {
    margin-top: 25px;
  }
}

.indicator--separate {
  justify-content: flex-end;
}

.indicator {
  align-items: baseline;
  color: var(--black);
  display: flex;
  flex: 0 0 50%;
  font-weight: normal;
}

.indicator__value {
  font-weight: bold;
}
