.link {
  @media (max-width: 910px) {
    display: none;
  }

  opacity: 0.6;
  font-weight: bold;
  font-size: 16px;
  color: var(--coal);
  line-height: 20px;
  text-decoration: none;

  & + & {
    margin-left: 20px;
  }

  &:focus,
  &:active,
  &--active {
    opacity: 1;
  }
}
