.link {
  @media (max-width: 910px) {
    display: none;
  }

  cursor: pointer;
  opacity: 0.6;
  font-weight: bold;
  font-size: 16px;
  color: var(--coal);
  line-height: 20px;
  text-decoration: none;

  & + & {
    margin-left: 20px;
  }

  &--small {
    font-size: 12px;
    color: #858585;
    letter-spacing: 0.01px;
    font-weight: normal;
  }

  &:focus,
  &:active,
  &--active {
    opacity: 1;
  }
}
