.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    align-items: flex-end;
    border-bottom: var(--border);
    display: flex;
    overflow: hidden;
    padding: 37px 42px;

    @media (max-width: 910px) {
      border-bottom: 0;
      padding: 22px 20px;

      &::after {
        align-self: center;
        background: url("../assets/icon_list_m.png");
        content: '';
        cursor: pointer;
        display: block;
        height: 14px;
        margin-left: auto;
        width: 16px;
      }
    }
  }

  &__footer {
    align-items: center;
    border-top: var(--border);
    box-sizing: border-box;
    display: flex;
    flex: 0 0 64px;
    overflow: hidden;
    padding: 0 40px;

    @media (max-width: 910px) {
      display: none;
    }
  }

  &__main {
    @media (max-width: 910px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-x: hidden;
      padding: 20px;

      > * {
        flex-shrink: 0;
        margin: 8px 0;
      }
    }

    box-sizing: border-box;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(auto-fill, minmax(min-content, 170px));
    height: 100%;
    overflow: auto;
    padding: 0 12.6%;
    padding-bottom: 80px;
  }
}
