$thumb-dark: #605757;
$thumb-light: #D8D8D8;;

$background-dark: #979797;
$background-light: rgba(#D8D8D8, 30%);

$circle-size: 16px;
$rectangle-width: 12px;
$rectangle-height: 20px;
$rectangle-border-radius: 4.5px;

$height-big: 4px;
$height-small: 1px;

$line-border-radius: 2px;

@mixin track($pb, $pbr, $ph) {
  background: $pb;
  border-radius: $pbr;
  cursor: pointer;
  height: $ph;
  width: 100%;
}

@mixin thumb($pbg, $pbr, $ph, $pw) {
  background: $pbg;
  border-radius: $pbr;
  cursor: pointer;
  height: $ph;
  width: $pw;
}

.range {
  -webkit-appearance: none;
  margin: 8px 0;
  width: 100%;

  &:focus {
    outline: none !important;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-runnable-track {
    @include track($background-dark, $line-border-radius, $height-small);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: ($rectangle-height - $height-small) * -0.5;
    @include thumb($thumb-light, $rectangle-border-radius, $rectangle-height, $rectangle-width);
  }

  &::-moz-range-track {
    @include track($background-dark, $line-border-radius, $height-small);
  }

  &::-moz-range-thumb {
    border-color: transparent;
    @include thumb($thumb-light, $rectangle-border-radius, $rectangle-height, $rectangle-width);
  }

  &::-ms-track {
    color: transparent;
    @include track($background-dark, $line-border-radius, $height-small);
  }

  &::-ms-thumb {
    margin-top: 1px;
    border: none;
    box-shadow: none;
    @include thumb($thumb-light, $rectangle-border-radius, $rectangle-height, $rectangle-width);
  }
}

.range--round {
  &::-webkit-slider-runnable-track {
    @include track($background-light, $line-border-radius, $height-big);
  }

  &::-webkit-slider-thumb {
    margin-top: ($circle-size - $height-big) * (-0.5);
    @include thumb($thumb-dark, 50%, $circle-size, $circle-size);
  }

  &::-moz-range-track {
    @include track($background-light, $line-border-radius, $height-big);
  }

  &::-moz-range-thumb {
    border-color: transparent;
    @include thumb($thumb-dark, 50%, $circle-size, $circle-size);
  }

  &::-ms-track {
    color: transparent;
    @include track($background-light, $line-border-radius, $height-big);
  }

  &::-ms-thumb {
    margin-top: 1px;
    border: none;
    box-shadow: none;
    @include thumb($thumb-dark, 50%, $circle-size, $circle-size);
  }
}
