@import "_link.scss";
@import "_page.scss";
@import "_icon.scss";
@import "_button.scss";
@import "_card.scss";
@import "_range.scss";
@import "_indicator.scss";
@import "_player.scss";
@import "_image-m.scss";

:root {
  --red: #DB5341;
  --coal: #333333;
  --black: #000000;
  --white: #ffffff;
  --yellow: #FFD93E;
  --light-grey: #FAFAFA;
  --dark-grey: #F3F3F3;
  --border: 1px solid #F0F0F0;
  --box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

@media (min-width: 375px) {
  :root {
    --button-height: calc(2.75rem + ((1vw - 3.75px) * 0.6472));
    --card-big-text: calc(0.875rem + ((1vw - 3.75px) * 0.6472));
    --card-medium-text: calc(1.125rem + ((1vw - 3.75px) * 0.1294));
    --card-medium-text-cr: calc(1.125rem + ((1vw - 3.75px) * 0.3883));
    --card-small-text: calc(0.75rem + ((1vw - 3.75px) * 0.3883));
    --card-tiny-text: calc(0.875rem + ((1vw - 3.75px) * 0.2589));
    --title-font-size: calc(1.5rem + ((1vw - 3.75px) * 0.7767));
    --player-artist: calc(1.125rem + ((1vw - 3.75px) * 0.201));
  }
}

@media (min-width: 1370px) {
  :root {
    --button-height: 54px;
    --card-big-text: 24px;
    --card-medium-text: 20px;
    --card-medium-text-cr: 24px;
    --card-small-text: 18px;
    --card-tiny-text: 18px;
    --title-font-size: 36px;
    --player-artist: 20px;
  }
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.title {
  color: var(--coal);
  font-size: var(--title-font-size);
  grid-column: span 6;
  margin: 32px 0;
  width: 100%;

  @media (max-width: 910px) {
    margin: 8px 0;
  }
}

.hidden {
  display: none;
}

.separate {
  margin-left: auto !important;
}
