@import "_slider.scss";
@import "_chart.scss";

.page__player {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 100%;

  &__chart {
    height: 50px;
    width: 100px;
  }

  &__controls {
    padding: 10px;
    box-sizing: border-box;
    height: 100px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

    @media (max-width: 910px) {
      height: 200px;
    }
  }

  &__controls > * {
    transition: all 0.2s;
    opacity: 0;
  }

  &__controls > label {
    padding: 10px;
  }

  &__controls--shown > * {
    opacity: 1;
  }

  &__controls > *:first-child {
    margin-right: auto;
  }


  &__controls > *:last-child {
    margin-left: auto;
  }

  &__controls::before {
    color: var(--coal);
    font-weight: bold;
    display: block;
    content: 'Видеонаблюдение';
    transition: opacity 0.2s, transform 0.2s, width 0.2s;
    overflow: hidden;
    font-size: var(--title-font-size);
    opacity: 1;
    width: 110%;
    flex-shrink: 0;
  }

  &__controls--shown {
    padding: 20px;

    @media (max-width: 910px) {
      flex-wrap: wrap;

      > * {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__controls--shown::before {
    opacity: 0;
    width: 0;
    flex-grow: 0;
    transform: translateX(-100%);
  }

  &__container {

    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%;
  }

  &__wrapper {
    overflow: hidden;
    background: var(--dark-grey);
    border: 10px solid white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.2s;
  }

  &--open {
    transform: scale(2);
    z-index: 2;
  }

  &__wrapper:nth-child(1) {
    transform-origin: left top;
  }

  &__wrapper:nth-child(2) {
    transform-origin: right top;
  }

  &__wrapper:nth-child(3) {
    transform-origin: left bottom;
  }

  &__wrapper:nth-child(4) {
    transform-origin: right bottom;
  }
}
