:root {
  --red: #DB5341;
  --black: #333333;
  --white: #ffffff;
  --yellow: #FFD93E;
  --light-grey: #FAFAFA;
  --dark-grey: #F3F3F3;
  --border: 1px solid #F0F0F0;
  --box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 1.5% 3.1%;
}

.footer {
  border-top: var(--border);
  box-sizing: border-box;
  flex: 0 0 64px;
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.link + .link {
  padding-left: 20px;
}

.separate {
  margin-left: auto;
}

.main {
  border-top: var(--border);
  box-sizing: border-box;
  height: 100%;
  padding: 0 12.6%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  overflow: auto;
}

.title {
  grid-column: span 6;
  width: 100%;
}

.card--s {
  grid-column: span 2;
}

.card--m {
  grid-column: span 3;
}

.card--l {
  grid-column: span 4;
  grid-row: span 3;
}

.card {
  background: var(--light-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.card:not(.card--critical):hover {
  background: var(--dark-grey);
  box-shadow: var(--box-shadow);
}

.card--critical .card__header {
  background: var(--red);
  color: var(--white);
}

.card__header {
  display: grid;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
  font-family: Arial-BoldMT;
  font-size: 24px;
  color: var(--black);
  text-align: left;

  padding: 20px;
  padding-bottom: 40px;
  background: inherit;
}

.card__body {
  background: inherit;
  color: var(--black);

  padding: 20px;
  padding-top: 40px;
  margin-top: -20px;

  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-family: Arial-BoldMT;
  font-size: 24px;
  text-align: left;
  grid-column: span 2;
}

.card__source,
.card__time {
  font-family: ArialMT;
  font-size: 18px;
  text-align: left;
}

.card__description {
}

.card__image {
  width: 100%;
  border-radius: 20px;
}

.button__group {
  display: grid;
  grid-template-columns: repeat(2, 132px);
  grid-auto-rows: 54px;
  grid-gap: 20px;
}

.button {
  align-items: center;
  appearance: initial;
  background: transparent;
  border-radius: 8px;
  border: initial;
  box-shadow: initial;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: Arial-BoldMT;
  font-size: 20px;
  font-weight: inherit;
  justify-content: center;
  margin: initial;
  outline: initial;
  padding: 0;
  pointer-events: auto;
  text-align: left;
  text-decoration: initial;
  text-transform: capitalize;
  transition: all 0.2s;
  background: #E5E5E5;
}

.button--active,
.button:hover {
  background: var(--yellow);
}

.indicators {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.indicator {
  font-family: ArialMT;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 18px;
  color: #000000;
  align-items: baseline;
}

.value {
  font-family: Arial-BoldMT;
}

.player {

}

.player__albumcover {
  width: 53px;
  height: 52px;
  border-radius: 8px;
}

.player__control {
  height: 1px;
  background: #979797;
  position: relative;
  /* margin: 10px; */
}

.player__control::after {
  display: block;
  content: '';
  background: #D8D8D8;
  width: 12px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 10%;
  border-radius: 4.5px;
}

.player__control--volume {
  height: 4px;
  background: rgba(216,216,216,0.30);
  border-radius: 2px;
}

.player__control--volume::after {
  background: #605757;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  top: -6px;
  left: 80%;
}

.icon--cam {
  width: 48px;
  height: 36px;
}

.icon--fridge {
  width: 39px;
  height: 48px;
}

.icon--home {
  width: 48px;
  height: 29px;
}

.icon--wifi {
  width: 48px;
  height: 46px;
}

.icon--stats {
  width: 48px;
  height: 23px;
}

.icon--key {
  width: 48px;
  height: 45px;
}

.icon--robot-cleaner {
  width: 48px;
  height: 29px;
}

.icon--router {
  width: 48px;
  height: 46px;
}

.icon--thermal {
  width: 48px;
  height: 48px;
}

.icon--ac {
  width: 48px;
  height: 41px;
}

.icon--music {
  width: 40px;
  height: 48px;
}

.icon--fridge {
  width: 39px;
  height: 48px;
}

.icon--battery {
  width: 48px;
  height: 25px;
}

.icon--kettle {
  width: 41px;
  height: 48px;
}
