.Button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
  background-color: #E5E5E5;
  border-radius: 8px;
  border: initial;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold !important;
  font-weight: inherit;
  height: var(--button-height);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: initial;
  max-width: 132px;
  outline: initial;
  padding: 10px 20px;
  pointer-events: auto;
  text-decoration: initial;
  text-transform: capitalize;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
}

.Button_default {
  width: auto;
  max-width: initial;
}

.Button-Group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Button+.Button {
  margin-left: 20px;
}

@media (max-width: 910px) {
  .Button-Group {
    margin-top: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.Button:hover {
  opacity: 0.7;
}

.Button_active {
  background: var(--yellow);
}
