.link {
  opacity: 0.6;
  font-weight: bold;
  font-size: 16px;
  color: var(--coal);
  line-height: 20px;
  text-decoration: none; }
  @media (max-width: 910px) {
    .link {
      display: none; } }
  .link + .link {
    margin-left: 20px; }
  .link--small {
    font-size: 12px;
    color: #858585;
    letter-spacing: 0.01px;
    font-weight: normal; }
  .link:focus, .link:active, .link--active {
    opacity: 1; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  .page__header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-bottom: var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 37px 42px; }
    @media (max-width: 910px) {
      .page__header {
        border-bottom: 0;
        padding: 22px 20px; }
        .page__header::after {
          -ms-flex-item-align: center;
              align-self: center;
          background: url("../assets/icon_list_m.png");
          content: '';
          cursor: pointer;
          display: block;
          height: 14px;
          margin-left: auto;
          width: 16px; } }
  .page__footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: var(--border);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 64px;
            flex: 0 0 64px;
    overflow: hidden;
    padding: 0 40px; }
    @media (max-width: 910px) {
      .page__footer {
        display: none; } }
  .page__main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(auto-fill, minmax(-webkit-min-content, 170px));
    grid-template-rows: auto repeat(auto-fill, minmax(min-content, 170px));
    height: 100%;
    overflow: auto;
    padding: 0 12.6%;
    padding-bottom: 80px; }
    @media (max-width: 910px) {
      .page__main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        overflow-x: hidden;
        padding: 20px; }
        .page__main > * {
          -ms-flex-negative: 0;
              flex-shrink: 0;
          margin: 8px 0; } }

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial;
  background: #E5E5E5;
  border-radius: 8px;
  border: initial;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
  font-weight: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: initial;
  outline: initial;
  padding: 0;
  pointer-events: auto;
  text-decoration: initial;
  text-transform: capitalize;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 20px;
  width: 100%;
  max-width: 132px;
  height: var(--button-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }
  .button__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .button + .button {
    margin-left: 20px; }
  @media (max-width: 910px) {
    .button__group {
      margin-top: 24px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .button:hover {
    opacity: 0.7; }
  .button--active {
    background: var(--yellow); }

.card {
  background: var(--light-grey);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .card__header {
    background: inherit;
    border-radius: 20px 20px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: var(--coal);
    font-weight: bold;
    padding: 20px 20px 15px; }
  .card__header .card__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: var(--card-big-text);
    height: 2.5em; }
  .card__header .card__title > span {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; }
  @supports (-ms-ime-align: auto) {
    .card__header .card__title > span {
      white-space: nowrap; } }
  .card__header .card__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: var(--card-small-text);
    font-weight: normal;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 17px; }
    @media (max-width: 910px) {
      .card__header .card__subtitle {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: row !important;
                flex-direction: row !important; } }
  .card__body {
    background: inherit;
    border-radius: 20px;
    color: var(--coal);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 20px 20px; }
  .card__body .card__description {
    font-size: var(--card-medium-text); }
  .card__body .card__image {
    border-radius: 20px;
    width: 100%;
    margin-top: 30px; }
    @media (max-width: 910px) {
      .card__body .card__image {
        margin-top: 16px; } }
  .card--s {
    grid-column: span 2; }
  .card--m {
    grid-column: span 3; }
  .card--l {
    grid-column: span 4;
    grid-row: span 3; }
  .card--l .card__body .card__description {
    font-size: var(--card-medium-text-cr); }
  .card--s .card__header {
    display: grid;
    grid-gap: 20px;
    padding-bottom: 0;
    margin-bottom: 0; }
  .card--small {
    min-height: 170px; }
    @media (max-width: 910px) {
      .card--small {
        min-height: auto; } }
  .card--small .card__header {
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px; }
  .card--s .card__header .card__subtitle,
  .card--small .card__header .card__subtitle {
    display: contents;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
  .card--critical .card__header {
    background: var(--red);
    color: var(--white);
    padding-bottom: 40px; }
  .card--critical .card__body {
    padding: 20px;
    margin-top: -20px; }
  .card__control {
    display: none;
    padding: 0; }
  .card__control, .card__control:hover {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute; }
  .card__control:first-of-type {
    background-image: url("./../assets/cross.svg");
    right: 20px;
    top: 20px;
    height: 15px;
    width: 15px; }
  .card__control:last-of-type {
    background-image: url("./../assets/next.svg");
    bottom: 20px;
    right: 20px;
    height: 17px;
    width: 11px; }
  .card--critical .card__control:first-of-type {
    background-image: url("./../assets/cross-white.svg"); }
  .page:not(.no-hover) .card:hover {
    background: var(--dark-grey);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow); }
  .page:not(.no-hover) .card:hover .card__control {
    display: block; }

.range {
  -webkit-appearance: none;
  margin: 8px 0;
  width: 100%; }
  .range:focus {
    outline: none !important; }
  .range::-moz-focus-outer {
    border: 0; }
  .range::-webkit-slider-runnable-track {
    background: #979797;
    border-radius: 2px;
    cursor: pointer;
    height: 1px;
    width: 100%; }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -9.5px;
    background: #D8D8D8;
    border-radius: 4.5px;
    cursor: pointer;
    height: 20px;
    width: 12px; }
  .range::-moz-range-track {
    background: #979797;
    border-radius: 2px;
    cursor: pointer;
    height: 1px;
    width: 100%; }
  .range::-moz-range-thumb {
    border-color: transparent;
    background: #D8D8D8;
    border-radius: 4.5px;
    cursor: pointer;
    height: 20px;
    width: 12px; }
  .range::-ms-track {
    color: transparent;
    background: #979797;
    border-radius: 2px;
    cursor: pointer;
    height: 1px;
    width: 100%; }
  .range::-ms-thumb {
    margin-top: 1px;
    border: none;
    box-shadow: none;
    background: #D8D8D8;
    border-radius: 4.5px;
    cursor: pointer;
    height: 20px;
    width: 12px; }

.range--round::-webkit-slider-runnable-track {
  background: #d8d8d8;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  width: 100%; }

.range--round::-webkit-slider-thumb {
  margin-top: -6px;
  background: #605757;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px; }

.range--round::-moz-range-track {
  background: #d8d8d8;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  width: 100%; }

.range--round::-moz-range-thumb {
  border-color: transparent;
  background: #605757;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px; }

.range--round::-ms-track {
  color: transparent;
  background: #d8d8d8;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  width: 100%; }

.range--round::-ms-thumb {
  margin-top: 1px;
  border: none;
  box-shadow: none;
  background: #605757;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px; }

.indicator__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--card-tiny-text);
  margin-top: 22px; }
  @media (max-width: 910px) {
    .indicator__group {
      margin-top: 25px; } }

.indicator--separate {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.indicator {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-weight: normal; }

.indicator__value {
  font-weight: bold; }

.player__albumcover {
  border-radius: 8px; }

.player__control {
  background: transparent;
  border-radius: 50%; }

.player__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
  width: 100%; }

.player__artist {
  color: var(--black);
  font-size: var(--player-artist);
  margin-bottom: auto; }

.player__row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px; }

.player__row + .player__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.player__control, .player__albumcover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 53px;
  width: 53px; }

.player__control {
  width: 52px;
  height: 52px;
  padding: 0; }

.player__control + .player__control {
  margin-left: 27px; }
  @media (max-width: 910px) {
    .player__control + .player__control {
      margin-left: 20px; } }

.player__duration, .player__volume {
  color: rgba(161, 161, 161, 0.84);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  font-size: 14px; }

.image-m__container {
  border-radius: 20px;
  height: 400px;
  margin-top: 30px;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  -ms-touch-action: none;
      touch-action: none; }

.image-m {
  border-radius: 0 !important;
  height: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  left: 0;
  margin-top: 0 !important;
  position: absolute;
  bottom: 0;
  width: auto !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.image-m__track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  bottom: 6px;
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  width: 147px; }

:root {
  --red: #DB5341;
  --coal: #333333;
  --black: #000000;
  --white: #ffffff;
  --yellow: #FFD93E;
  --light-grey: #FAFAFA;
  --dark-grey: #F3F3F3;
  --border: 1px solid #F0F0F0;
  --box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50); }

@media (min-width: 375px) {
  :root {
    --button-height: calc(2.75rem + ((1vw - 3.75px) * 0.6472));
    --card-big-text: calc(0.875rem + ((1vw - 3.75px) * 0.6472));
    --card-medium-text: calc(1.125rem + ((1vw - 3.75px) * 0.1294));
    --card-medium-text-cr: calc(1.125rem + ((1vw - 3.75px) * 0.3883));
    --card-small-text: calc(0.75rem + ((1vw - 3.75px) * 0.3883));
    --card-tiny-text: calc(0.875rem + ((1vw - 3.75px) * 0.2589));
    --title-font-size: calc(1.5rem + ((1vw - 3.75px) * 0.7767));
    --player-artist: calc(1.125rem + ((1vw - 3.75px) * 0.201)); } }

@media (min-width: 1370px) {
  :root {
    --button-height: 54px;
    --card-big-text: 24px;
    --card-medium-text: 20px;
    --card-medium-text-cr: 24px;
    --card-small-text: 18px;
    --card-tiny-text: 18px;
    --title-font-size: 36px;
    --player-artist: 20px; } }

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden; }

.title {
  color: var(--coal);
  font-size: var(--title-font-size);
  grid-column: span 6;
  margin: 32px 0;
  width: 100%; }
  @media (max-width: 910px) {
    .title {
      margin: 8px 0; } }

.icon {
  height: auto;
  margin-right: 20px;
  max-width: 100%; }

.hidden {
  display: none; }

.separate {
  margin-left: auto !important; }
