@charset "UTF-8";
label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0; }

.video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }
  .video__chart {
    height: 50px;
    width: 200px; }
  .video__controls {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100px;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .video__controls > * {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 0; }
  .video__controls > *:first-child {
    margin-right: auto; }
  .video__controls > *:last-child {
    margin-left: auto; }
  .video__controls::before {
    display: block;
    content: 'Видеонаблюдение';
    -webkit-transition: opacity 0.2s, width 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, width 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, width 0.2s;
    transition: opacity 0.2s, transform 0.2s, width 0.2s, -webkit-transform 0.2s;
    overflow: hidden;
    font-size: var(--title-font-size);
    opacity: 1;
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .video__controls--shown {
    padding: 20px; }
    @media (max-width: 910px) {
      .video__controls--shown {
        height: initial;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .video__controls--shown > * {
          margin-left: auto;
          margin-right: auto; } }
  .video__controls--shown > * {
    opacity: 1; }
  .video__controls--shown::before {
    opacity: 0;
    width: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .video__container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 100%; }
  .video__wrapper {
    overflow: hidden;
    background: var(--dark-grey);
    border: 10px solid white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  .video--open {
    -webkit-transform: scale(2);
            transform: scale(2);
    z-index: 2; }
  .video__wrapper:nth-child(1) {
    -webkit-transform-origin: left top;
            transform-origin: left top; }
  .video__wrapper:nth-child(2) {
    -webkit-transform-origin: right top;
            transform-origin: right top; }
  .video__wrapper:nth-child(3) {
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom; }
  .video__wrapper:nth-child(4) {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }
