/* Fix these lines */

.Page:not(.no-hover) .Card:hover {
  background: var(--dark-grey);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.Page:not(.no-hover) .Card:hover .Card-Control {
  display: block !important;
}

/*  */

:root {
  --red: #DB5341;
  --coal: #333333;
  --blue: #068FFF;
  --black: #000000;
  --white: #ffffff;
  --yellow: #FFD93E;
  --light-grey: #FAFAFA;
  --dark-grey: #F3F3F3;
  --border: 1px solid #F0F0F0;
  --box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
}

@media (min-width: 375px) {
  :root {
    --button-height: calc(2.75rem + ((1vw - 3.75px) * 0.6472));
    --card-big-text: calc(0.875rem + ((1vw - 3.75px) * 0.6472));
    --card-medium-text: calc(1.125rem + ((1vw - 3.75px) * 0.1294));
    --card-medium-text-cr: calc(1.125rem + ((1vw - 3.75px) * 0.3883));
    --card-small-text: calc(0.75rem + ((1vw - 3.75px) * 0.3883));
    --card-tiny-text: calc(0.875rem + ((1vw - 3.75px) * 0.2589));
    --title-font-size: calc(1.5rem + ((1vw - 3.75px) * 0.7767));
    --player-artist: calc(1.125rem + ((1vw - 3.75px) * 0.201));
    --title-width: calc(8.625rem + ((1vw - 3.75px) * 12.2613));
  }
}

@media (min-width: 1370px) {
  :root {
    --button-height: 54px;
    --card-big-text: 24px;
    --card-medium-text: 20px;
    --card-medium-text-cr: 24px;
    --card-small-text: 18px;
    --card-tiny-text: 18px;
    --title-font-size: 36px;
    --player-artist: 20px;
    --title-width: 260px;
  }
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}


