
.Player-Albumcover {
  border-radius: 8px;
}

/* TODO! */
.Player-Control {
  background: transparent;
  border-radius: 50%;
  height: 52px;
  padding: 0;
  width: 52px;
}

.Player-Column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 16px;
  width: 100%;
}

.Player-Artist {
  color: var(--black);
  font-size: var(--player-artist);
  margin-bottom: auto;
}

.Player-Row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.Player-Row+.Player-Row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Player-Control,
.Player-Albumcover {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 53px;
  width: 53px;
}

.Player-Control+.Player-Control {
  margin-left: 27px;
}

@media (max-width: 910px) {
  .Player-Control+.Player-Control {
    margin-left: 20px;
  }
}

/* Well, you dont need to specify these classNames */

.Player-Duration,
.Player-Volume {
  color: rgba(161, 161, 161, 0.84);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  font-size: 14px;
}
