<!DOCTYPE html>
html(lang="en")
head
  meta(name="robots", content="noindex")
  meta(name="viewport", content="width=device-width,maximum-scale=1,initial-scale=1")
  meta(charset="UTF-8")
  title Яндекс Дом
  link(rel="stylesheet", href="css/style.css")
  script(src="https://code.jquery.com/pep/0.4.3/pep.js")
body
  .page
    header.page__header
      img.icon.icon--logo(src="assets/logo.png")
      a.link.link--active(href="index.html") События
      a.link(href="player.html") Видеонаблюдение
      a.link(href="#") Сводка
      a.link(href="#") Устройства
      a.link(href="#") Сценарии
    main.page__main
      h1.title Лента событий

    footer.page__footer
      a.link.link--small(href="#") Помощь
      a.link.link--small(href="#") Обратная связь
      a.link.link--small(href="#") Разработчикам
      a.link.link--small(href="#") Условия использования
      a.link.link--small(href="https://wiki.yandex.ru/shri-2018-II/homework/Adaptivnaja-vjorstka/.files/license.pdf", target="_blank").separate © 2001–2017  ООО «Яндекс»

    template#card
      .card
        button.button.card__control
        button.button.card__control
        .card__header
          .card__title
            img.icon
            span
          .card__subtitle
            div
            div

    template#body
      .card__body
        .card__description

    template#buttons
      .button__group
        button.button.button--active
        button.button

    template#graph
      img.card__image

    template#image
      img.card__image.show-on-desktop
      .image-m__container.show-on-touch
        img.card__image.image-m(draggable="false", ondragstart="return false;")
        .image-m__track
      .image-m__parameter.indicator__group.show-on-touch
        .indicator
          | Приближение:&nbsp;
          .zoom 100%
        .indicator.indicator--separate
          | Яркость:&nbsp;
          .brightness 100%

    template#indicator
      .indicator__group
        .indicator
          | Температура:&nbsp;
          .indicator__value

        .indicator
          | Влажность:&nbsp;
          .indicator__value

    template#player
      .player
        .player__row
          img.player__albumcover
          .player__column
            .player__artist
            input.range(type="range")
          .player__duration
        .player__row
          button.button.player__control
            img(src="assets/prev.svg")
          button.button.player__control
            img(src="assets/prev.svg", style="transform: rotate(-180deg)")
          .player__column
            input.range.range--round(type="range", min="0", max="100")
          .player__volume

  script(src="js/index.js")

