<!DOCTYPE html>
html(lang="en")
  head
    meta(name="robots", content="noindex")
    meta(name="viewport", content="width=device-width,maximum-scale=1,initial-scale=1")
    meta(charset="UTF-8")
    title Яндекс Дом
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/video.css")
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
  body

    .page
      header.page__header
        img.icon.icon--logo(src="assets/logo.png")
        a.link(href="index.html") События
        a.link.link--active(href="player.html") Видеонаблюдение
        a.link(href="#") Сводка
        a.link(href="#") Устройства
        a.link(href="#") Сценарии

      main.page__main.page__player
        .video__controls
          button.button.button--default Все камеры

          label
            | Яркость
            .slider(data-min="0", data-max="300", data-value="100", data-name="brightness")
              button.circle

          label
            | Контрастность
            .slider.slider--contrast(data-min="0", data-max="300", data-value="100", data-name="contrast")
              button.circle

          .video__chart.chart
            .chart__bar

        .video__container
          .video__wrapper
            video.video(autoplay, muted, loop)
          .video__wrapper
            video.video(autoplay, muted, loop)
          .video__wrapper
            video.video(autoplay, muted, loop)
          .video__wrapper
            video.video(autoplay, muted, loop)

      footer.page__footer
        a.link.link--small(href="#") Помощь
        a.link.link--small(href="#") Обратная связь
        a.link.link--small(href="#") Разработчикам
        a.link.link--small(href="#") Условия использования
        a.link.link--small(href="https://wiki.yandex.ru/shri-2018-II/homework/Adaptivnaja-vjorstka/.files/license.pdf", target="_blank").separate © 2001–2017  ООО «Яндекс»

    script(src="js/slider.js")
    script(src="js/init-hls.js")
    script(src="js/volume-analyser.js")
    script(src="js/player.js")
